<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ title }}</title>
	<link rel="shortcut icon" href="/img/favicon.ico">
	<!-- Bootstrap 4.5 CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>

    {% include navbar %}

   	<!-- Recipes Heading -->
	<div class="col12 text-center mt-5">
		<h1 class="txt-dark pt-4">{{ title }}</h1>
		<div class="border-top border primairy w-50 mx-auto my-3"></div>
		{% if serves %}
		<i class="fas fa-utensils mx-2"></i>{{ 'Voor <count> personen' | replace: '<count>', serves  }}
		{% endif %}
		{% if preparation_time %}
		<span><i class="fas fa-history mx-2" title="Voorbereidingstijd"></i>{{ preparation_time }}</span>
		{% endif %}
		{% if cooking_time %}
		<span><i class="far fa-clock mr-2" title="Kooktijd"></i>{{ cooking_time }}</span>
		{% endif %}

		{% for tag in tags %}
			{% case tag %}
			{% when "meat" %}
				<span><i class="fas fa-drumstick-bite mx-2"></i>Vlees</span>
			{% when "vegetarian" %}
				<span><i class="fas fa-seedling mx-1"></i>Vegetarisch</span>
			{% when "fish" %}
				<span><i class="fas fa-fish mx-2"></i>Vis</span>
			{% when "vegetable" %}
				<span><i class="fas fa-carrot mx-2"></i></i>Groente</span>

			{% when "pastry" %}
				<span><i class="fas fa-cheese mx-2"></i>Gebak</span>
			{% when "hot" %}
				<span><i class="fas fa-pepper-hot mx-2"></i></i>Heet</span>
			{% when "extra hot" %}
				<span><span class="mx-2"><i class="fas fa-pepper-hot"></i><i class="fas fa-pepper-hot"></i></i></span>Extra heet</span>
			{% else %} 
				<span><i class="fas fa-tag mx-2"></i>{{ tag }}</span>
			{% endcase %}
		{% endfor %}
	</div>

	<div class="container">
		<div class="row my-5">
			<div class="col-md-4 my-4"> 
				<h4 class="txt-dark text-center">Ingrediënten</h4>
				<div class="border-top border primairy w-50 mx-auto my-3"></div>
				{% for ingredient in ingredients %}
					<input type="checkbox" class="form-check-input"/>
					<div class="row my-2">{{ ingredient }}</div>
				{% endfor %}
			</div>
			<div class="col-md-8 my-4"> 
				{{ content }}
			</div>
		</div>
	</div>

    {% include footer %}
    
</body>
</html>